index.jade
doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        link(rel="icon", type="image/png", href="assets/img/logo/bc.png")
            
        title="BlueColor"

        link(href='lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        script(type='text/javascript', src='lib/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='lib/bootstrap/dist/js/bootstrap.min.js')

        script(type='text/javascript', src='lib/scroll/jquery.easing.min.js')
        script(type='text/javascript', src='lib/scroll/scrolling-nav.js')
            

        link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')

        link(href='assets/dist/css/app.css', rel='stylesheet')

    body
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href="#")
                        img(src="assets/img/logo/bluecolor1.png" alt="" width=200 height=30)

                div.navbar-collapse.collapse

                    ul.nav.navbar-nav.navbar-right.nav-pills
                        li
                            a.btn.btn-social-icon.btn-github
                                i.fa.fa-github.fa-lg
                        li
                            a.btn.btn-social-icon.btn-bitbucket
                                i.fa.fa-bitbucket.fa-lg
                        li
                            a.btn.btn-social-icon.btn-youtube
                                i.fa.fa-youtube.fa-lg

                    ul.nav.navbar-nav.navbar-right.navbar-text(style="padding-right:150px;")
                        li
                            a.page-scroll(href="#products") Products
                        li
                            a.page-scroll(href="#services") Services
                        li
                            a.page-scroll(href="#projects") Projects
                        li
                            a.page-scroll(href="#references") References
        div.SiteWrapper
            div.content
                div.jumbotron.clearfix
                    div.container
                        h2 We Finely Craft State of the Art Software
                        img.illustration(src="assets/img/swart.png")
                div.container
                    div.row
                        div.col-md-4
                            h2.soft-heading Who We Are
                            p We are group of technology evangelists who has love and passion to build better software. We are only concentrated on the quality of our work, for this we approach each and every project or problem on the state of art perspective while enjoying the overall process. Our approach and work is independent of any specific technology. We craft different solutions, that is best for the target problem and the environment, at the minimum cost and maximum productivity and durability. Our first priority is the customer happiness and the quality of final solution or the product.
                        div.col-md-4
                            h2.soft-heading What We Do
                            p
                            | We Innovate and Integrate. Our members are professional computer scientists
                            | who has many years of enterprise experience. We have two basic objectives.
                            | First one is to "Innovate". We innovate ideas and methodologies that will
                            | best fit to our customers' needs. After a certain level of maturity of these
                            | ideas, projects we productize them with the latest technological paradigms.
                            | The second mission is to "Integrate". We are strong the supporters of the
                            | open source community. We believe the wisdom of the crowd. There are many
                            | community driven mature applications, projects that is in use in the enterprise
                            | world today. We adopt these ideas, harden the codes, ensure the stability and
                            | reliability and integrate them to our customers with a continuous support.
                        div.col-md-4
                            h2.soft-heading How We Roll
                            p 
                            | We listen to you. We listen your needs, analyse the problem and come up with a
                            | solution that will best fit to your requirements. Alhough we may have required skills,
                            | we ARE NOT interested in any solution with or support of a high price, usually useless
                            | product or tool of so called "Software" infact "Financial Companies" enforces you to use. 
                    hr
                    h1.soft-heading(id="products") Products
                    div.row(style="padding-top:30px")
                        div.col-md-4
                            div.row
                                div.col-md-4
                                    img.img-responsive.img-center(src="assets/img/tornado.png")
                                div.col-md-8
                                    h2.soft-heading(style="margin-top:0") Storm
                                    p 
                                    | Storm is forged with the cutting edge technologies that best fits to the task automation process.
                                    | It brings you the power and simplicity of the current state of art.
                        div.col-md-4
                            div.row
                                div.col-md-4
                                    img.img-responsive.img-center(src="assets/img/cloudsql.png")
                                div.col-md-8
                                    h2.soft-heading(style="margin-top:0") CloudSQL
                                    p 
                                    | CloudSQL is a web based SQL client that performs live data masking of sensitive data. 
                                    | It also allows the users to share scripts with each other.

                    hr                    
                    h1.soft-heading(id="services") Services
                    div.row
                        div.col-md-4
                            h2.soft-heading Consultancy
                            p 
                            | We help customers with our solutions and services in areas like; Data Mining, Big Data, BIW,
                            | Database Security, Automation and MDM.
                        div.col-md-4
                            h2.soft-heading Assessment
                            p 
                            | We carry aout assesments for your existing DWH and Big Data platforms. Generate detailed reports
                            | about the subject system and prepare roadmaps to improve existing structure and implementation. 
                        div.col-md-4
                            h2.soft-heading Custom Solutions & Products
                            p 
                            | Our team has a broad knowledge of software development. We can help you to build your custom
                            | solution for your needs.
                    hr
                    h1.soft-heading(id="projects") Projects
                    div.row
                        div.col-md-4
                            h2.soft-heading NodeJDBC
                            p 
                            | NodeJDB is JDBC wrapper for NodeJS. It is publicly available and maintained by us and the community.
                        div.col-md-4
                            h2.soft-heading Cargo
                            p Cargo is a open source data extraction utility that runs blazingly fast.
                        div.col-md-4
                            h2.soft-heading Storm Client
                            p 
                            | Storm Client is the colelction of open source client libraies for our task automation product "Storm".
                            | There are javascript, ruby, python and java client libraries for Storm.
                    hr
                    h1.soft-heading(id="references") References
                    div.row
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/turkcell.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/turk-telekom.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/vodafone.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/boyner.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/oracle.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/migros.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/koc-allianz.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/teb.png")

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="assets/img/logo/bc.png">
    <title>BlueColor</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/scroll/jquery.easing.min.js"></script>
    <script type="text/javascript" src="lib/scroll/scrolling-nav.js"></script>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/dist/css/app.css" rel="stylesheet">
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="assets/img/logo/bluecolor1.png" alt="" width="200" height="30"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li><a class="btn btn-social-icon btn-github"><i class="fa fa-github fa-lg"></i></a></li>
            <li><a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket fa-lg"></i></a></li>
            <li><a class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube fa-lg"></i></a></li>
          </ul>
          <ul style="padding-right:150px;" class="nav navbar-nav navbar-right navbar-text">
            <li><a href="#products" class="page-scroll">Products</a></li>
            <li><a href="#services" class="page-scroll">Services</a></li>
            <li><a href="#projects" class="page-scroll">Projects</a></li>
            <li><a href="#references" class="page-scroll">References</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="SiteWrapper">
      <div class="content">
        <div class="jumbotron clearfix">
          <div class="container">
            <h2>We Finely Craft State of the Art Software</h2><img src="assets/img/swart.png" class="illustration">
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2 class="soft-heading">Who We Are</h2>
              <p>We are group of technology evangelists who has love and passion to build better software. We are only concentrated on the quality of our work, for this we approach each and every project or problem on the state of art perspective while enjoying the overall process. Our approach and work is independent of any specific technology. We craft different solutions, that is best for the target problem and the environment, at the minimum cost and maximum productivity and durability. Our first priority is the customer happiness and the quality of final solution or the product.</p>
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">What We Do</h2>
              <p></p>We Innovate and Integrate. Our members are professional computer scientists
              who has many years of enterprise experience. We have two basic objectives.
              First one is to "Innovate". We innovate ideas and methodologies that will
              best fit to our customers' needs. After a certain level of maturity of these
              ideas, projects we productize them with the latest technological paradigms.
              The second mission is to "Integrate". We are strong the supporters of the
              open source community. We believe the wisdom of the crowd. There are many
              community driven mature applications, projects that is in use in the enterprise
              world today. We adopt these ideas, harden the codes, ensure the stability and
              reliability and integrate them to our customers with a continuous support.
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">How We Roll</h2>
              <p> </p>We listen to you. We listen your needs, analyse the problem and come up with a
              solution that will best fit to your requirements. Alhough we may have required skills,
              we ARE NOT interested in any solution with or support of a high price, usually useless
              product or tool of so called "Software" infact "Financial Companies" enforces you to use. 
            </div>
          </div>
          <hr>
          <h1 id="products" class="soft-heading">Products</h1>
          <div style="padding-top:30px" class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4"><img src="assets/img/tornado.png" class="img-responsive img-center"></div>
                <div class="col-md-8">
                  <h2 style="margin-top:0" class="soft-heading">Storm</h2>
                  <p> </p>Storm is forged with the cutting edge technologies that best fits to the task automation process.
                  It brings you the power and simplicity of the current state of art.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4"><img src="assets/img/cloudsql.png" class="img-responsive img-center"></div>
                <div class="col-md-8">
                  <h2 style="margin-top:0" class="soft-heading">CloudSQL</h2>
                  <p> </p>CloudSQL is a web based SQL client that performs live data masking of sensitive data. 
                  It also allows the users to share scripts with each other.
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h1 id="services" class="soft-heading">Services</h1>
          <div class="row">
            <div class="col-md-4">
              <h2 class="soft-heading">Consultancy</h2>
              <p> </p>We help customers with our solutions and services in areas like; Data Mining, Big Data, BIW,
              Database Security, Automation and MDM.
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">Assessment</h2>
              <p> </p>We carry aout assesments for your existing DWH and Big Data platforms. Generate detailed reports
              about the subject system and prepare roadmaps to improve existing structure and implementation. 
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">Custom Solutions & Products</h2>
              <p> </p>Our team has a broad knowledge of software development. We can help you to build your custom
              solution for your needs.
            </div>
          </div>
          <hr>
          <h1 id="projects" class="soft-heading">Projects</h1>
          <div class="row">
            <div class="col-md-4">
              <h2 class="soft-heading">NodeJDBC</h2>
              <p> </p>NodeJDB is JDBC wrapper for NodeJS. It is publicly available and maintained by us and the community.
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">Cargo</h2>
              <p>Cargo is a open source data extraction utility that runs blazingly fast.</p>
            </div>
            <div class="col-md-4">
              <h2 class="soft-heading">Storm Client</h2>
              <p> </p>Storm Client is the colelction of open source client libraies for our task automation product "Storm".
              There are javascript, ruby, python and java client libraries for Storm.
            </div>
          </div>
          <hr>
          <h1 id="references" class="soft-heading">References</h1>
          <div class="row">
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/turkcell.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/turk-telekom.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/vodafone.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/boyner.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/oracle.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/migros.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/koc-allianz.png" class="img-responsive img-center"></div>
            <div class="col-md-2"><img style="height:111px;" src="assets/img/references/teb.png" class="img-responsive img-center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
